In [60]:
import numpy as np
import pandas as pd

In [61]:
df_all = pd.read_csv('grad_requirements_all.csv')
df_rec = pd.read_csv('grad_requirements_recommended_route.csv')

In [62]:
df_all.head(5)

,"Engineering Mechanics, BS","['PHYS 212', 'ME 410', 'MCB 150', 'TAM 252', 'TAM 335', 'TAM 211', 'ME 360', 'TAM 499', 'MATH 415', 'MATH 423', 'ME 481', 'CS 101', 'STAT 400', 'CHEM 103', 'ME 412', 'CEE 453', 'TAM 324', 'AE 353', 'CS 450', 'PHYS 213', 'MATH 231', 'MATH 442', 'ME 412', 'AE 402', 'CEE 451', 'TAM 499', 'ECE 329', 'ME 482', 'CS 357', 'TAM 451', 'MATH 441', 'MATH 448', 'MATH 490', 'TAM 212', 'TAM 499', 'ECE 473', 'CHEM 105', 'PHYS 214', 'MATH 221', 'TAM 499', 'NPRE 431', 'ECE 205', 'ECE 473', 'TAM 499', 'ME 290', 'TAM 424', 'ECE 473', 'ME 170', 'CS 357', 'ECE 380', 'PHYS 211', 'TAM 195', 'BIOP 401', 'ENG 100', 'ECE 206', 'TAM 456', 'CEE 445', 'AE 412', 'MATH 241', 'TAM 412', 'TAM 251', 'TAM 499', 'CEE 461', 'PHYS 402', 'TAM 445', 'CS 357', 'MSE 401', 'CEE 360', 'ECE 473', 'TAM 435', 'ME 483', 'ECE 473', 'MATH 484', 'MATH 446', 'ME 471', 'CS 457', 'MCB 151', 'ME 470', 'CEE 491', 'TAM 470', 'TAM 461', 'TAM 427', 'TAM 499', 'TAM 270', 'CHEM 102', 'CHEM 104', 'MATH 447', 'ME 200', 'MSE 489', 'MATH 482', 'TAM 424', 'STAT 410', 'CEE 310', 'TAM 428', 'CEE 460', 'PHYS 402', 'ECE 330', 'MATH 489']"
0,Health Planning & Administration,"['KIN 387', 'CMN 465', 'CHLH 340', 'CLCV 102',..."
1,Finance in Agribusiness,"['ACE 360', 'ACCY 202', 'MATH 124', 'ACE 436',..."
2,"History of Art, BALAS","['HIST/EALC 221', 'HIST 310', 'AAS 300/GWS 305..."
3,Health Behavior Change,"['IHLT 230', 'CMN 463', 'IHLT 101', 'PSYC 352'..."
4,Food Science,"['ECON 202', 'MCB 101', 'FSHN 469', 'ACE 261',..."

In [63]:
df_rec.head(5)

,"Landscape Architecture, BLA","['HORT 301', 'LA 438', 'LA 346', 'LA 250', 'LA 343', 'LA 345', 'LA 452', 'IB 103', '105', 'LA 241', 'MATH 115', 'LA 437', 'LA 342', 'LA 233', 'LA 314', 'LA 101', 'RHET 105', 'LA 281', 'LA 335', 'STAT 100', 'GEOL 100', 'LA 336', 'GEOG 103', 'UP 101', 'LA 234', 'FAA 101', 'LA 280']"
0,"Civil Engineering, BS","['CHEM 102', 'PHYS 211', 'SE 101', 'CHEM 105',..."
1,"Mechanical Engineering, BS","['CS 101', 'ECE 206', 'ME 360', 'RHET 105', '..."
2,"Electrical Engineering, BS","['ECE 385', 'CHEM 102', 'PHYS 213', 'CHEM 103'..."
3,"Systems Engineering & Design, BS","['SE 100', 'MATH 285', 'IE 300', 'SE 101', 'SE..."
4,Biomolecular Engineering,"['ENG 100', 'CS 101', 'CHBE 221', 'MCB 450', '..."

In [64]:
df_all.shape

(248, 2)

In [65]:
df_rec.shape

(19, 2)

In [66]:
df_all_as_array = df_all.to_numpy()
df_rec_as_array = df_rec.to_numpy()

In [67]:
new_dict = {}
for major,course in df_all_as_array:
    for major2, course2 in df_rec_as_array:
        if major2 == major:
            new_dict[major] = course2
            break
        else:
            new_dict[major] = course


# df_dict = {}
# for major,course in df_as_array:
#     course = course.replace(u"\xa0", u" ")
#     if major in df_dict:
#         df_dict[major].append(course)
#     else:
#         df_dict[major] = [course]

In [68]:
import csv

with open('grad_requirements_shorten.csv', 'w') as csv_file:  
    writer = csv.writer(csv_file)
    for key, value in new_dict.items():
       writer.writerow([key, value])